#-----------Базы данных-----------
#PostgreSQL
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=omnichannel

# MinIO
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_COMPOSE_ENDPOINT=http://minio:9000
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=bucket

#-----------Движки-----------
# Telegram
TELEGRAM_BOT_TOKEN=токен

# Email (На примере Yandex)
EMAIL_HOST=imap.yandex.ru
EMAIL_PORT=993
EMAIL_USER=user@yandex.ru
EMAIL_PASSWORD=password
EMAIL_POLL_INTERVAL=60

# Slack
# SLACK_BOT_TOKEN=токен
# SLACK_APP_TOKEN=токен
EMAIL_SMTP_HOST=smtp.yandex.ru
EMAIL_SMTP_PORT=465
# Discord
# DISCORD_BOT_TOKEN=токен

# VK
# VK_API_TOKEN=токен
# VK_GROUP_ID=токен




#-----------Серверное-----------
# Application
APP_HOST=0.0.0.0
APP_PORT=8044
DEBUG=true
LOG_LEVEL=INFO

# JWT
JWT_SECRET=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440